.carousel-item.hidden {
  display: none;
}

.carousel-item.visible {
  display: flex;
}

.carousel {}


.carousel-btn {
  background: #333;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.carousel-content {
  margin: 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}


.carousel-circles-container {
  margin: 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;

}

.carousel-circle {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
  /* This makes it a circle */
}